.wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

#drop_file_zone {
    background-color: #EEE;
    border: #999 5px dashed;
    width: 100%;
    height: 200px;
    padding: 8px;
    font-size: 18px;
    margin-top: 20px;
}

#drag_upload_file {
    width: 50%;
    margin: 0 auto;
}

#drag_upload_file p {
    text-align: center;
}

#drag_upload_file #selectfile {
    display: none;
}

img:hover{
    border: 5px solid white;
    cursor: pointer;
}