.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }

  .user-options{
    width: 200px;
    float: right;
    position: absolute;
    top: 60px;
    right: 10px;
    display: none;
  }

  .canvas-welcome-page{
    height: 100vh;
  }